* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: Roboto; }

body {
  background-color: #38315D; }

#card {
  position: relative;
  width: 650px;
  height: 450px;
  margin: 5% auto; }
  #card #calendar {
    padding: 40px 20px;
    width: 400px;
    height: 100%;
    background-color: #5D457F;
    float: left;
    border-radius: 20px 0px 0px 20px; }
    #card #calendar #year {
      font-size: 16px;
      font-weight: 300; }
    #card #calendar #month {
      font-size: 30px;
      margin-top: 5px;
      font-weight: 300; }
    #card #calendar table {
      width: 100%;
      margin-top: 40px;
      color: white;
      text-align: center; }
    #card #calendar table td {
      height: 30px; }
    #card #calendar table thead td {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase; }
    #card #calendar table tbody td {
      font-size: 12px;
      font-weight: 400;
      color: #e1e1e1; }
    #card #calendar table td.past {
      color: white; }
    #card #calendar table td.selected {
      color: #c274aa;
      background-color: #FFF;
      border-radius: 5px; }
  #card #date {
    position: relative;
    padding: 40px 20px;
    width: 250px;
    height: 100%;
    float: right;
    background-color: #3B3B6F;
    border-radius: 0px 20px 20px 0px; }
    #card #date #day {
      font-size: 22px;
      font-weight: 300;
      margin-top: 30px; }
    #card #date #notes {
      list-style-type: none;
      margin-top: 40px; }
    #card #date #notes > li {
      font-size: 15px;
      font-weight: 200; }
    #card #date #add_note {
      position: absolute;
      bottom: 40px;
      padding-bottom: 5px;
      border-bottom: 1px solid #A34786; }
      #card #date #add_note input {
        padding: 5px;
        border: 0px;
        float: left;
        background-color: transparent;
        color: #A34786; }
      #card #date #add_note input:focus {
        outline: none; }
      #card #date #add_note span.icon {
        background: url("../img/ic_add.png");
        background-repeat: no-repeat;
        padding: 5px;
        float: right;
        width: 24px;
        height: 24px; }
